@font-face {
    font-family: 'MuseoSansBold';
    src: url('../fonts/MuseoSansBold/MuseoSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRegular';
    src: url('../fonts/MuseoSansRegular/MuseoSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansBlack';
    src: url('../fonts/MuseoSansBlack/MuseoSansBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansMedium';
    src: url('../fonts/MuseoSansMedium/MuseoSansMedium.ttf') format('truetype');
}