@font-face {
  font-family: 'MuseoSansBold';
  src: url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSansRegular';
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSansBlack';
  src: url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSansMedium';
  src: url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype"); }

#navigation .navbar-brand p {
  font-family: 'MuseoSansRegular';
  font-size: 15px;
  color: #000;
  margin: 0; }

#navigation ul li a {
  color: #000;
  text-decoration: none; }

#navigation ul li:first-child {
  font-family: 'MuseoSansBlack';
  font-size: 27px; }

#navigation ul li:nth-child(2) {
  font-family: 'MuseoSansRegular';
  font-size: 15px; }
  #navigation ul li:nth-child(2):hover {
    cursor: pointer; }

@media screen and (max-width: 992px) {
  #navigation .container {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    #navigation .container .navbar-brand {
      flex-direction: column; } }

@media screen and (max-width: 576px) {
  #navigation .container .nav-item {
    padding-top: 10px; }
    #navigation .container .nav-item a {
      font-size: 22px; } }

header {
  font-family: 'MuseoSansBlack'; }
  header h2 {
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000; }
    header h2 span {
      color: #e22a2a; }

@media screen and (max-width: 768px) {
  header h2 {
    font-size: 20px; }
    header h2 br {
      display: none; } }

#advantages h4 {
  font-family: 'MuseoSansBlack';
  font-size: 20px;
  text-transform: uppercase;
  color: #000; }

#advantages p {
  font-family: 'MuseoSansRegular';
  font-size: 14px;
  color: #000; }

#advantages .plus2 {
  height: 163px; }

@media screen and (max-width: 992px) {
  #advantages p br {
    display: none; } }

#test-btn {
  font-family: 'MuseoSansMedium'; }
  #test-btn button {
    background-color: #e22a2a;
    border-radius: unset;
    border: 5px #fff solid; }
  #test-btn h3 {
    color: #fff;
    font-size: 27px;
    text-transform: uppercase; }
  #test-btn h5 {
    color: #fff;
    font-size: 15px; }

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  75% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); } }
  #test-btn .pulse {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition: background-color 0.8s ease; }
  #test-btn .pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #fff;
    border: 5px #e22a2a solid; }
    #test-btn .pulse:hover h3,
    #test-btn .pulse:hover h5 {
      color: #e22a2a; }

@media screen and (max-width: 576px) {
  #test-btn h3 {
    font-size: 14px; }
  #test-btn h5 {
    font-size: 9px; } }

@media screen and (min-width: 576px) and (max-width: 768px) {
  #test-btn h3 {
    font-size: 20px; }
  #test-btn h5 {
    font-size: 13px; } }

#works h2 {
  font-family: 'MuseoSansBlack';
  font-size: 41px;
  color: #000; }

#works #worksCarousel .carousel-item {
  flex-wrap: wrap; }
  #works #worksCarousel .carousel-item img {
    height: 200px;
    width: 305px;
    display: block;
    margin: auto; }

#works #worksCarousel .fa {
  font-size: 50px;
  background-color: #e22a2a;
  border-radius: 50%;
  width: 50px; }

#works #worksCarousel .carousel-item-next,
#works #worksCarousel .carousel-item-prev,
#works #worksCarousel .carousel-item.active {
  display: flex; }

#works #worksCarousel .carousel-control-prev,
#works #worksCarousel .carousel-control-next {
  opacity: 1; }

#works #worksCarousel .carousel-item-next {
  justify-content: flex-end; }

#works #worksCarousel .carousel-control-prev {
  left: -10%; }

#works #worksCarousel .carousel-control-next {
  right: -10%; }

#works #worksCarousel .carousel-control-prev .fa {
  font-size: 50px;
  background-color: #e22a2a;
  border-radius: 50%;
  display: flex;
  padding-left: 10px; }

#works #worksCarousel .carousel-control-next .fa {
  font-size: 50px;
  background-color: #e22a2a;
  border-radius: 50%;
  display: flex;
  padding-left: 20px; }

#works #worksCarousel .carousel-item-next {
  justify-content: flex-start; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #works #worksCarousel {
    width: 78; }
    #works #worksCarousel .carousel-item img {
      width: 235px; } }

@media screen and (max-width: 1200px) {
  #works #worksCarousel .carousel-control-next {
    right: -9.6%; }
    #works #worksCarousel .carousel-control-next .fa {
      font-size: 30px;
      padding-left: 15px; }
  #works #worksCarousel .carousel-control-prev {
    left: -8%; }
    #works #worksCarousel .carousel-control-prev .fa {
      font-size: 30px; }
  #works #worksCarousel .fa {
    width: 35px; } }

@media screen and (max-width: 576px) {
  #works h2 {
    font-size: 22px; }
  #works #worksCarousel .carousel-control-next .fa {
    font-size: 30px;
    padding-left: 15px; }
  #works #worksCarousel .carousel-control-prev .fa {
    font-size: 30px; }
  #works #worksCarousel .fa {
    width: 35px; } }

@media screen and (max-width: 992px) {
  #works #worksCarousel .carousel-control-prev {
    left: 0%; }
  #works #worksCarousel .carousel-control-next {
    right: 0%; }
  #works #worksCarousel .carousel-item img {
    padding-top: 15px; } }

footer {
  font-family: 'MuseoSansBlack'; }
  footer p a {
    color: #000;
    text-decoration: none; }
    footer p a:hover {
      text-decoration: none;
      color: #000; }
  footer p.phone {
    font-size: 20px; }
  footer p.street {
    font-size: 15px;
    cursor: pointer; }

@media screen and (max-width: 992px) {
  footer .col-12 {
    display: flex;
    justify-content: center; }
  footer .street br {
    display: none; } }

@media screen and (max-width: 1200px) {
  footer p.phone {
    font-size: 14px; }
  footer p.street {
    font-size: 13px; } }

#mapModal .modal-dialog {
  font-family: 'MuseoSansRegular';
  max-width: 603px;
  top: 18%; }
  #mapModal .modal-dialog .modal-header {
    background-color: #e22a2a;
    color: #fff; }
    #mapModal .modal-dialog .modal-header h5 {
      font-size: 18px; }
    #mapModal .modal-dialog .modal-header button.close {
      color: #fff; }

body {
  background: url("../img/bg.png") no-repeat;
  background-size: cover; }
