#advantages {
    h4 {
        font-family: 'MuseoSansBlack';
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
    }
    p {
        font-family: 'MuseoSansRegular';
        font-size: 14px;
        color: #000;
    }
    .plus2 {
        height: 163px;
    }
}

@media screen and (max-width: 992px) {
    #advantages {
        p {
            br {
                display: none;
            }
        }
    }
}