#advantages {
    h4 {
        font-family: 'MuseoSansBlack';
        font-size: 20px;
        text-transform: uppercase;
    }
    p {
        font-family: 'MuseoSansRegular';
        font-size: 14px;
    }
}