footer {
    font-family: 'MuseoSansBlack';
    p {
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #000;
            }
        }
        &.phone {
            font-size: 20px;
        }
        &.street {
            font-size: 15px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 992px) {
    footer {
        .col-12 {
            display: flex;
            justify-content: center;
        }
        .street {
            br {
                display: none;
            }
        }
    }
}