$spanClr: #e22a2a;
header {
    font-family: 'MuseoSansBlack';
    h2 {
        font-size: 35px;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #000;
        span {
            color: $spanClr;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        h2 {
            font-size: 20px;
            br {
                display: none;
            }
        }
    }
}