#navigation {
    .navbar-brand {
        p {
            font-family: 'MuseoSansRegular';
            font-size: 15px;
            color: #000;
            margin: 0;
        }
    }
    ul {
        li {
            a {
                color: #000;
                text-decoration: none;
            }
            &:first-child {
                font-family: 'MuseoSansBlack';
                font-size: 27px;
            }
            &:nth-child(2) {
                font-family: 'MuseoSansRegular';
                font-size: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #navigation {
        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .navbar-brand {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #navigation {
        .container {
            .nav-item {
                padding-top: 10px;
                a {
                    font-size: 22px;
                }
            }
        }
    }
}